.col-lg-3
.col-lg-6
  = form_for(@question) do |f|
    - ques_error_messages
    .field
      = f.label :Question
      %br/
      = f.text_area :quesbox,class: "form-control",:rows => 7
    %br/
    .actions
      = f.submit "Create Question", :class => "btn btn-primary"
      = link_to 'Back', questions_path

.col-lg-3
