%br/
%span= @question.answers.count
%span= @question.user.anscount
- if current_user.answers.where(question_id: @question).first.blank?
  %span.ans_comment= link_to 'Add Answer', new_question_answer_path(@question)
%hr
- @question.answers.each do|answer|
  .question_answer
    %span.answer= answer.answer
    %span.fullname= "-#{answer.user.fullname}"
    - if current_user == answer.user
      = link_to 'Edit', edit_question_answer_path(id: answer.id, question_id:@question)
      = link_to 'Destroy',question_answer_path(id: answer.id, question_id:@question), method: :delete, data: { confirm: 'Are you sure?' }
  %hr

  - answer.comments.where("history_id IS NULL").each do|comment|
    .answer_comment
      - answer_comment = Comment.show_history(comment.id)
      %span= answer_comment.comment
      %span.fullname="- #{comment.user.fullname}"
      - if current_user == comment.user
        = link_to 'Edit', edit_question_answer_comment_path(id: comment.id, answer_id: answer.id,question_id:@question)
        - unless answer_comment.check_history?
          = link_to 'Edited', comments_comment_history_path(history_id: answer_comment.history_id, dont_show: answer_comment.id)
        = link_to 'Destroy',question_answer_comment_path(id: comment.id,answer_id: answer.id,question_id:@question), method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  .comment= link_to 'Add Comment', new_question_answer_comment_path(@question, answer)
  %hr



